.button {
    cursor: pointer;
    color:grey;
    font-size: 34px;
    padding: 0.5rem 1rem;
  }

.activebutton {
    font-weight: bold;
    color:white;
    font-size: 34px;
    padding: 0.5rem 1rem;
}
  

.button:hover {
    color:white;
    transition: 0,2s;
}

.gamesidelist {
    margin-bottom: 0.5rem;
    color: #ffffff;
    display: flex;
    align-items: center;
}