@import './colors.css';

body 
{
	overflow-y: auto;
	background-color: var(--anthracite);
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main
{
	max-height: 100%;
}

.footer {
	height: 3rem;
    width: 100%;
    background-color: var(--bleu-fonce);
    position: fixed; /* Changé de absolute à fixed */
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 1rem;
    z-index: 10; 
}

.header 
{
	display: flex;
	align-items: center;
	background-color: var(--bleu-fonce);
	padding: 1.2rem;
	gap: 20px;
}

.header .logo
{
	width: 3rem;
	height: 3rem;
}

.header .logo:hover
{
	cursor: pointer;
}

.header .activebutton
{
	font-size: 32px !important;
	color: var(--bleu-clair) !important;
    background-color: var(--bleu-fonce) !important;
	text-decoration: underline !important;
	padding: 10px 20px !important;
	font-weight: bold !important;
	border: none !important;
	transition: color 0.3s ease, text-decoration 0.3s ease !important;
}

.header .button
{
    background-color: var(--bleu-fonce) !important;
	font-size: 32px !important;
	color: #c2c2c2 !important;
	padding: 10px 20px !important;
	font-weight: bold !important;
	border: none !important;
	transition: color 0.3s ease, text-decoration 0.3s ease !important;
}

.header .button:hover
{
	color: #ffffff !important;
	transition: 0.3s !important;
	cursor: pointer !important;
}

.header .profile
{
	display: flex;
	align-items: center;
	background-color: var(--anthracite);
	border-radius: 2px;
	padding: 0.5rem;
	cursor: pointer;
	position: absolute;
	right: 12.5%;
	top: 0;
}

.header .profile:hover
{
	background-color: var(--anthracite-fonce);
}

.header .profilePicture
{
	width: 2rem;
	height: 2rem;
	object-fit: cover;
	border-radius: 2px;
	margin-right: 0.5rem;
}

.header .profileName
{
	color: #ffffff;
	font-size: 0.9rem;
	margin-right: 0.5rem;
}

.header .profileArrow
{
	width: 1rem;
	height: 1rem;
	color: #c2c2c2;
}

.modal-overlay {
    transition: 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    overflow: hidden; /* Empêche le débordement horizontal */
}

.login-modal {
    background-color: #171A21;
	border: 8px solid #263549;
    padding: 30px;
    border-radius: 10px;
    width: 740px;
	height: 600px;
    color: white;
}

.login-modal h2 {
    text-align: center;
    margin-bottom: 20px;
	font-weight: bold;
	font-size: 28px;
    color: #ffffff;
}

.login-modal .login-form
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
	height: 40%;
}

.login-modal input {
	background-color: #a3a3a36c;
	border: none;
	border-radius: 7px;
	padding: 10px;
	margin: 10px 0;
	width: 60%;
	color: rgb(255, 255, 255);
	font-size: 16px;
	outline: none;
}

.login-modal input::placeholder {
	color: #a3a3a3;
}

.login-modal .loginButton {
    width: 20%;
    padding: 10px;
    margin: 20px auto 0 auto;
    background-color: #195887;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    display: block;
}

.login-modal .loginButton:hover {
    background-color: #113d5e;
	transition: 0.3s;
}

.login-modal .googleButton {
    background: none;
    border: 2px solid #ffffff;
    border-radius: 100px;
    color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 10px 20px;
	margin: 30px auto 0 auto;
    cursor: pointer;
    font-size: 16px;
    width: fit-content;
}

.login-modal .googleLogo
{
	max-width: 30px;
	height: auto;
}

.login-modal .googleButton:hover
{
	cursor: pointer;
	border: 2px solid #195887;
	transition: 0.3s;
}

.login-modal .registerContainer
{
	color: #b1b1b1;
	margin-top: 110px;
	position: relative;
	left: 60%;
}

.login-modal .registerButton
{
	font-weight: bold;
	background: none;
	border: none;
	color: #b1b1b1;
	cursor: pointer;
	font-size: 16px;
}

.login-modal .registerButton:hover
{
	transition: 0.3s;
	text-decoration: underline;
	cursor: pointer;
}

.login-modal .register-form
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.login-modal .register-form input
{
	background-color: #a3a3a36c;
	border: none;
	border-radius: 7px;
	padding: 10px;
	margin: 10px 0;
	width: 60%;
	color: rgb(255, 255, 255);
	font-size: 16px;
	outline: none;
}

.login-modal .register-form input::placeholder {
	color: #a3a3a3;
}

.login-modal .signupButton
{
	width: 20%;
    padding: 10px;
    margin: 8% auto 0 auto;
    background-color: #195887;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    display: block;
}

.login-modal .signupButton:hover
{
	transition: 0.3s;
	background-color: #113d5e;
}

.login-modal .cancelButton
{
	background: none;
	border: none;
	color: #8d8d8d;
	font-weight: bold;
	cursor: pointer;
	font-size: 16px;
	margin: 0;
	padding: 5px 10px;
}

.login-modal .cancelButton:hover
{
	transition: 0.3s;
	color: #ffffff;
}

.twofaModal {
    background-color: #171A21;
	border: 8px solid #263549;
    padding: 30px;
    border-radius: 10px;
    width: 740px;
	height: 320px;
    color: white;
}

.twofaModal h2 {
    text-align: center;
    margin-bottom: 20px;
	font-weight: bold;
	font-size: 28px;
    color: #ffffff;
}

.twofaModal .login-form
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
	height: 40%;
}

.twofaModal input {
	
	background-color: #a3a3a36c;
	border-radius: 7px;
	padding: 5px;
	margin: 10px 0;
	width: 60%;
	color: rgb(255, 255, 255);
}

.twofaModal .loginButton {
    width: 20%;
    padding: 10px;
    margin-top: 20px;
	margin-left: 40%;
    background-color: #195887;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.twofaModal .loginButton:hover {
    background-color: #113d5e;
	transition: 0.3s;
}

.profile-modal {
    background-color: #171A21;
    border: 8px solid #263549;
    padding: 30px;
    border-radius: 10px;
    width: 740px; /* Largeur fixe */
    max-width: 90%; /* Largeur maximale pour les petits écrans */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espace entre les sections */
    box-sizing: border-box; /* Inclut le padding dans la taille totale */
    z-index: 3000; /* Assure que la modal est au-dessus de l'overlay */
    max-height: 90vh; /* Limite la hauteur maximale à 90% de la hauteur de la fenêtre */
    overflow-y: auto; /* Ajoute une barre de défilement verticale si nécessaire */
}

/* Bouton "Close" */
.closeProfileModal {
    font-weight: bold;
    color: #8d8d8d;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
    margin-right: 10px; /* Ajoute un espace à droite */
}

.closeGameInfosModal
{
    font-weight: bold;
    color: #8d8d8d;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
    margin-right: 10px; /* Ajoute un espace à droite */
}
.closeProfileModal:hover {
    color: #ffffff;
    transition: 0.3s;
}

.profile-modal h2 
{
    text-align: center;
    margin-bottom: 20px;
	font-weight: bold;
	font-size: 28px;
    color: #ffffff;
}

.profile-modal .inputPictureForm
{
	background-color: var(--anthracite-fonce);
	border-radius: 5px;
	margin-top: -20%;
	padding: 10px;	
	text-align: center;
	transition: 0.3s;
}

.profile-modal .submitPictureForm
{
    width: 20%;
    padding: 10px;
    background-color: #195887;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
	transition: 0.3s;
    cursor: pointer;
}

.profile-modal .submitPictureForm:hover
{
	background-color: var(--bleu-clair);
	transition: 0.3s;
}

.profile-modal .inputPictureForm:hover
{
	background-color: var(--anthracite);
	transition: 0.3s;
	cursor: pointer;
}

.upload-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.profile-modal .submitPictureForm {
    width: 100%;
    max-width: 200px;
}

.picture-upload
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 30%;
}

.profileMenu
{
	position: absolute;
	top: 100%;
	right: 0;
	width: 200px;
	border-radius: 2px;
	margin-top: 0.5rem;
	pointer-events: none;
	z-index: 1000;
}

.profilewindow {
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #ffffff;
    background-color: var(--anthracite);
    border-radius: 4px;
    overflow: hidden;
}

.profilewindow button 
{
	width: 100%;
	text-align: left;
	font-weight: bold;
	padding: 0.5rem 1rem;
	background: none;
	transition: 0.3s;
	border: none;
	color: #ffffff;
	cursor: pointer;
	background-color: var(--anthracite);
	font-size: 0.9rem;
	margin: 0;
	outline: none;
    border: 2px solid var(--bleu-fonce); /* <-- Bordure discrète */

}

.profilewindow button:hover 
{
	background-color: var(--bleu-clair);
	transition: 0.3s;
}

.profilewindow-item
{
	width: 100%;
}

#logoutButton {
	background-color: var(--rouge);
	width: 100%;
}

#logoutButton:hover
{
	background-color: #c70202;
	transition: 0.3s;
}

.profile-picture-container-modal {
    position: relative;  /* Garde relative au lieu de absolute */
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;  /* Ajout pour maintenir le flux */
}

.pictureProfileModal {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 0.3rem solid #113d5e;
    transition: filter 0.3s ease;
}

.profile-picture-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 50%;
    border: 0.3rem solid #113d5e;
	font-weight: bold;
}

.profile-picture-container-modal:hover .pictureProfileModal {
    filter: blur(2px);
}

.profile-picture-container-modal:hover .profile-picture-overlay {
    opacity: 1;
	cursor: pointer;
}

/* Conteneur pour la flèche "Back" et la croix "Close" */
.profile-modal-header {
    display: flex;
    justify-content: space-between; /* Place la flèche à gauche et la croix à droite */
    align-items: center;
    width: 100%;
    position: relative; /* Position relative pour que les éléments soient dans le conteneur */
    margin-bottom: 20px; /* Ajoute un espace sous le header */
}

/* Flèche "Back" */
.backArrow {
    font-size: 1.5rem;
    font-weight: bold;
    color: #8d8d8d;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-left: 10px; /* Ajoute un espace à gauche */
}

.backArrow:hover {
    color: #ffffff;
    transition: 0.3s;
}

.profile-modal .profile-modal-content
{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-modal .profile-modal-content-info
{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-modal .profile-modal-content-info h3
{
    font-weight: bold;
    
}

.profile-modal .profile-modal-content-info #username
{
    display: flex;
    flex-direction: row;
}

.profile-modal .profile-modal-content-info #email
{
    display: flex;
    flex-direction: row;
}

.profile-modal .profile-modal-content-info #bio
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-modal .bio-input
{
    resize: none;
    height: 3.7rem;
    width: 100%;
    text-align: center;
    background-color: #a3a3a31e;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	padding: 5px;
	margin: 0;
	color: #939393;
    outline: none;
    font-style: italic;
}

.profile-modal .bio-input:focus
{
    font-style: normal;
}

.profile-modal .profile-modal-button-container
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.profile-modal .profile-modal-button-password
{
    margin: 0 auto;
    padding: 10px;
    background-color: #195887;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
	transition: 0.3s;
    cursor: pointer;
	margin-top: 2rem;
}

.profile-modal .profile-modal-button-username
{
    margin: 0 auto;
    padding: 10px;
    background-color: #195887;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
	transition: 0.3s;
    cursor: pointer;
	margin-top: 2rem;
}

.profile-modal .profile-modal-button-email
{
    margin: 0 auto;
    padding: 10px;
    background-color: #195887;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
	transition: 0.3s;
    cursor: pointer;
	margin-top: 2rem;
}

.profile-modal .profile-modal-button-bio
{
    font-size: 0.9rem;
    flex-direction: row;
    height: 1.3rem;
    line-height: 1.3rem;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    white-space: nowrap;
    background-color: #195787aa; 
    transition: 0.3s;
}

.profile-modal .profile-modal-button-disable2fa
{
    margin: 0 auto;
    padding: 10px;
    background-color: var(--vert);
    border: none;
    border-radius: 5px;
    color: white;
    border: 1px solid #ffffff;
    font-weight: bold;
	transition: 0.3s;
    cursor: pointer;
	margin-top: 2rem;
}


.profile-modal .profile-modal-button-disable2fa:hover
{
	background-color: var(--rouge);
	transition: 0.3s;
}

.profile-modal .profile-modal-button-enable2fa
{
    margin: 0 auto;
    padding: 10px;
    background-color: #195887;
    border: none;
    border-radius: 5px;
    color: white;
    border: 1px solid #ffffff;
    font-weight: bold;
	transition: 0.3s;
    cursor: pointer;
	margin-top: 2rem;
}

.profile-modal .button-disable2fa
{
	margin: 0 auto;
    padding: 10px;
    background-color: var(--rouge);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
	transition: 0.3s;
    cursor: pointer;
	margin-top: 2rem;
}

.profile-modal .button-disable2fa:hover
{
	background-color: #690000;
	transition: 0.3s;
}

.profile-modal .profile-modal-button-enable2fa:hover
{
	background-color: var(--vert);
	transition: 0.3s;
}

.profile-modal .profile-modal-button-password:hover
{
	background-color: #113d5e;
	transition: 0.3s;
}

.profile-modal .profile-modal-button-username:hover
{
	background-color: #113d5e;
	transition: 0.3s;
}

.profile-modal .profile-modal-button-username:hover
{
	background-color: #113d5e;
	transition: 0.3s;
}

.profile-modal .profile-modal-button-email:hover
{
	background-color: #113d5e;
	transition: 0.3s;
}

.profile-modal .profile-modal-button-bio:hover
{
	background-color: #113d5e;
	transition: 0.3s;
}

.closeProfileModal 
{
    position: relative;
    left: 95%;
    font-weight: bold;
    color: #8d8d8d;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.closeProfileModalPicture 
{
    font-weight: bold;
    color: #8d8d8d;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.closeProfileModalPassword 
{
    position: relative;
    left: 40%;
    font-weight: bold;
    color: #8d8d8d;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}
.changePassword-modal
{
	border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

.changePassword-modal h2 {
	text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.changePassword-modal .changePasswordInput
{
	padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;

}

.changePassword-modal-content {
	padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.changePassword-modal-content .changePasswordInput
{
    background-color: #a3a3a36c;
	border-radius: 7px;
	padding: 5px;
	margin: 10px 0;
	width: 100%;
	color: rgb(255, 255, 255);
}

.changePassword-modal #changePasswordButton
{
    height: 2rem;
    position: relative;
    left: 10%;
    margin-top: 1rem;
    width: 80%;
    background-color: #195887;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.changePassword-modal #changePasswordButton:hover
{
	transition: 0.3s;
	background-color: #113d5e;
}

.profile-modal #changeDoubleAuthentificationButton
{
    position: relative;
    left: 10%;
    margin-top: 1rem;
    width: 80%;
    background-color: #195887;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.profile-modal #changeDoubleAuthentificationButton:hover
{
	transition: 0.3s;
	background-color: #113d5e;
}

.changeUsername-modal
{
	border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

.changeUsername-modal h2 {
	text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.changeUsername-modal .changeUsernameInput
{
	padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;

}

.changeUsername-modal-content {
	padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.changeUsername-modal-content .changeUsernameInput
{
    background-color: #a3a3a36c;
	border-radius: 7px;
	padding: 5px;
	margin: 10px 0;
	width: 100%;
	color: rgb(255, 255, 255);
}

.changeUsername-modal #changeUsernameButton
{
    height: 2rem;
    position: relative;
    left: 10%;
    margin-top: 1rem;
    width: 80%;
    background-color: #195887;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.changeUsername-modal #changeUsernameButton:hover
{
	transition: 0.3s;
	background-color: #113d5e;
}

.changeEmail-modal
{
	border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

.changeEmail-modal h2 {
	text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.changeEmail-modal .changeEmailInput
{
	padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;

}

.changeEmail-modal-content {
	padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.changeEmail-modal-content .changeEmailInput
{
    background-color: #a3a3a36c;
	border-radius: 7px;
	padding: 5px;
	margin: 10px 0;
	width: 100%;
	color: rgb(255, 255, 255);
}

.changeEmail-modal #changeEmailButton
{
    height: 2rem;
    position: relative;
    left: 10%;
    margin-top: 1rem;
    width: 80%;
    background-color: #195887;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.changeEmail-modal #changeEmailButton:hover
{
	transition: 0.3s;
	background-color: #113d5e;
}

.changeDoubleAuthentification-modal
{
	border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

.changeDoubleAuthentification-modal h2 {
	text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.changeDoubleAuthentification-modal .changeDoubleAuthentificationInput
{
	padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;

}

.changeDoubleAuthentification-modal-content {
	padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.changeDoubleAuthentification-modal-content .changeDoubleAuthentificationInput
{
    background-color: #a3a3a36c;
	border-radius: 7px;
	padding: 5px;
	margin: 10px 0;
	width: 100%;
	color: rgb(255, 255, 255);
}

.changeDoubleAuthentification-modal #enable2FAButton
{
    position: relative;
    left: 10%;
    margin-top: 1rem;
    width: 80%;
    background-color: #195887;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.changeDoubleAuthentification-modal #enable2FAButton:hover
{
	transition: 0.3s;
	background-color: #113d5e;
}



.gameInfosModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 1000;
    width: 70%;
    height: 70%;
    overflow-y: auto;
    color: white;
}

.gameInfosModal-overlay {
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 30, 0.7); /* Overlay sombre pour lisibilité */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.gameInfosModal-overlay h1
{
    position: relative;
    top: -25%;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    
}

.game-details {
    width: 100%;
    position: relative;
    top: 0%;
    text-align: center;
    z-index: 2;
}

.game-description {
    margin: 1rem 0;
    font-size: 1.1rem;
    color: #fff;
    font-style: italic;
    text-shadow: 0 2px 8px #000;
}