.header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.profile-container {
    background-color: #f5f5f5;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
} 